@import url("https://use.typekit.net/ewi2vgp.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @apply antialiased;
  }
  body {
    @apply bg-light/10 dark:bg-dark text-white;
  }
}

@layer base {
  .underline-link {
    @apply hover:border-brand border-b-2 border-transparent;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
